.product-card {
  width: 160px;
  height: 220px;
  padding: 0.5rem;
  margin: 0.75rem 0.5rem;
  border-radius: 7px;
  box-shadow: var(--shadow);
  background-color: var(--light);
  display: flex;
  flex-direction: column;

  .card-image-container {
    height: 100px;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .card-image {
      height: 100%;
    }
  }

  .card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .card-title {
      width: 100%;
      height: 30px;
      font-size: 0.85rem;
      font-weight: 400;
      color: var(--text);
      text-align: center;
      line-height: 110%;
      margin-bottom: 0.5rem;
      font-family: "Poppins", sans-serif;
    }

    .card-price {
      width: 100%;
      font-size: 1.3rem;
      margin-bottom: 0.5rem;
      font-weight: 700;
      text-align: center;
      color: var(--border);
    }

    .card-overlay {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .quantity-selector {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.1rem;

        .btn-counter {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: var(--bg);
          color: var(--border);
          border: none;
          font-size: 1.2rem;
          cursor: pointer;
        }

        .quantity {
          width: 20px;
          text-align: center;
          font-size: 1rem;
          font-weight: 500;
        }
      }

      .btn-add-to-cart {
        height: 30px;
        padding: 0 10px;
        background-color: var(--border);
        color: var(--light);
        border: none;
        font-size: 0.7rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        font-family: "Poppins", sans-serif;
        &:visited {
          background-color: var(--accent);
          color: var(--light);
        }

        .btn-add {
          margin-right: 5px;
        }
      }
    }
  }
}
