.catalog-container {
  width: 100dvw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .link-menu {
    text-decoration: none;
    color: var(--text-h);

    .cat-container {
      width: 100px;
      height: 110px;
      font-size: 0.9rem;
      border-radius: 3px;
      margin: 10px 5px;
      background-color: #fff;
      box-shadow: var(--shadow);
      background: linear-gradient(180deg, #fdf3f3 50%, #ecc3c3 150%);

      img {
        height: 40%;
        margin-bottom: 0.5rem;
      }
    }
  }

  h2 {
    width: 95%;
    font-size: 2rem;
    line-height: 100%;
    text-align: center;
    color: var(--text-h);
    margin: 1rem;
    font-family: "Poppins", sans-serif;
  }
}
