* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: #222222;
  --text-h: #a75959;
  --bg: #fdd8d8;
  --light: #ffffff;
  --border: #985e5c;
  --accent: #d62f8f;
  --accent-bg: #363475;
  --accent-border: rgba(170, 59, 255, 0.5);
  --disable: rgb(209, 209, 209);
  --shadow:
    rgba(73, 19, 19, 0.4) 0 20px 27px -17px,
    rgba(165, 30, 30, 0.25) 0 4px 6px -2px;
  --whatsapp-bg: #25a135;

  --sans: system-ui, "Inter", sans-serif;
  --heading: system-ui, "Englebert", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  width: 100dvw;
  max-width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
