.category-container {
  width: 100dvw;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  /* justify-content: center; */

  h1 {
    width: 95%;
    font-size: 2rem;
    text-align: center;
    color: var(--text-h);
    margin: 0.5rem;
    font-family: "Poppins", sans-serif;
  }
}
