.nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  backdrop-filter: blur(5px);
  background: linear-gradient(180deg, #ffffff 30%, #ffffff00 100%);
  z-index: 1000;
  padding: 5px 20px;

  .no-visible {
    display: none;
  }

  .items-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    @media (320px <= width <= 479px) {
      width: 100%;
    }

    @media (768px <= width <= 1023px) {
      width: 85%;
      padding: 5px 20px;
    }
    @media (1024px <= width <= 1279px) {
      width: 78%;
      padding: 5px 20px;
    }

    @media (1280px <= width <= 1439px) {
      width: 60%;
      padding: 5px 20px;
    }

    @media (1440px <= width <= 1919px) {
      width: 60%;
    }

    @media (1920px <= width) {
      width: 30%;
    }

    .nav-logo {
      width: 70%;

      img {
        @media (320px <= width <= 479px) {
          width: 140px;
        }

        @media (768px <= width <= 1023px) {
          width: 160px;
        }

        @media (1024px <= width <= 1279px) {
          width: 170px;
        }

        @media (1280px <= width <= 1439px) {
          width: 170px;
        }

        @media (1440px <= width <= 1919px) {
          width: 200px;
        }

        @media (1920px <= width) {
          width: 200px;
        }
      }
    }

    .nav-cart {
      width: 30%;
      display: flex;
      justify-content: flex-end;
      text-decoration: none;
      color: var(--border);
      padding-right: 10px;
    }

    @media (320px <= width <= 479px) {
      font-size: 1.5rem;
    }

    @media (768px <= width <= 1023px) {
      font-size: 2rem;
    }

    @media (1024px <= width <= 1279px) {
      font-size: 2.5rem;
    }

    @media (1280px <= width <= 1439px) {
      font-size: 1.5rem;
    }

    @media (1440px <= width <= 1919px) {
      font-size: 2rem;
    }

    @media (1920px <= width) {
      font-size: 1.5rem;
    }

    .items-cart {
      color: var(--border);
    }

    .no-items-cart {
      color: var(--disable);
      pointer-events: none;
    }
  }
}
