.nav-container {
  width: 100dvw;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(5px);
  background: linear-gradient(180deg, #ffffff 30%, #ffffff00 100%);

  .no-visible {
    display: none;
  }

  .nav-logo-mobile {
    width: 70%;
    display: flex;
    align-items: center;

    img {
      width: 140px;
    }
  }

  .nav-cart-mobile {
    width: 15%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--border);
  }

  .items-cart {
    color: var(--border);
  }

  .no-items-cart {
    color: var(--disable);
  }

  .menu-nav-mobile {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.5rem;
    color: var(--border);

    .menu-open,
    .menu-close {
      transition: all0.3s ease;
    }
  }
}

.menu-modal {
  background-color: var(--light-modal);
}
